*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 1200px;
    border: 2px solid red;
    margin: 0 auto;
}
.poisk{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.search{
    width: 75%;
    height: 50px;
    border-radius: 10px;
    font-size: 25px;
    padding-left: 20px;
}
.btn{
    width: 20%;    
    height: 50px;
}
.kartochki{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 20px;
}
.card{
    width: 300px;
    height: 400px;
    border: 2px solid blue;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 3px rgb(12, 12, 189);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;
}

.card img{
    width: 90%;
    height: 50%;
}